[submodule "_site"]
	path = _site
	url = git@github.com:yoeluk/yoeluk.github.io.git
[submodule "libs/highlighting-kate"]
	path = libs/highlighting-kate
	url = git@github.com:jgm/highlighting-kate.git
[submodule "libs/FontAwesome"]
	path = libs/FontAwesome
	url = git@github.com:FortAwesome/Font-Awesome.git
[submodule "libs/initializr"]
	path = libs/initializr
	url = git@github.com:verekia/initializr.git
[submodule "libs/bootstrap"]
	path = libs/bootstrap
	url = git@github.com:twbs/bootstrap.git
