[submodule "_site"]
	path = _site
	url = git@github.com:yoeluk/yoeluk.github.io.git
[submodule "libs/highlighting-kate"]
	path = libs/highlighting-kate
	url = git@github.com:jgm/highlighting-kate.git
